$primary: #028a00;

$font-size-base: 1.1rem;
$font-family-sans-serif: "Lato", sans-serif;
$paragraph-margin-bottom: 2rem;
$enable-responsive-font-sizes: true;

$headings-font-family: "Playfair Display", serif;
$headings-font-weight: 700;
$display1-weight: 900;
$display2-weight: 900;
$display3-weight: 900;
$display4-weight: 900;

$grid-gutter-width: 30px;

$spacers: (
  "gutter": $grid-gutter-width,
  "col": $grid-gutter-width / 2
);
